[Unit]
Description=Smart blinds web application
After=network.target pigpiod.service

[Service]
User=root
WorkingDirectory=/home/pi/projects/hackdays-smart-blinds
ExecStart=/home/pi/projects/hackdays-smart-blinds/bin/server_production
Restart=always

[Install]
WantedBy=multi-user.target