[Unit]
Description=Smart office blinds server
After=network.target pigpiod.service

[Service]
User=root
WorkingDirectory=/home/pi/projects/smart-office-blinds/server
ExecStart=/home/pi/projects/smart-office-blinds/server/bin/server
Restart=always

[Install]
WantedBy=multi-user.target
